/* page.module.css */

@keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(50px); /* You can adjust this value as per your design */
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .animate-image-transition {
    animation: fadeIn 1.5s ease-in-out;
  }
  
  
  /* Custom CSS for the hover effect */
.figure-container {
  position: relative;
}

.image-overlay {
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 100%;
  background-color: white;
  transition: width 0.5s ease;
  z-index: 1;
  transform: translateX(-50%);
}

figure:hover .image-overlay {
  width: 100%;
}
